.access-btn-section {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.btn-section {
  display: flex;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.show-password {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox {
  margin-left: 5px;
}
