.add-picture-buttons-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  width: 150px;
  height: 100px;
}

.take-picture-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.camera-form-button {
  border-radius: 35px;
  background-color: #5df8d8;
  width: 70px;
  height: 70px;
}

.camera-screen-section {
  width: 325px;
  height: 550px;
  object-fit: cover;
}

.file-picker {
  max-width: 100px;
  border-radius: 5px;
  background-color: #5df8d8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding: 10px;
  margin: 0px;
}

.form-button {
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
  border: 1px solid black;
  background-color: #5df8d8;
  color: black;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.icon-btn {
  background-color: #5df8d8;
  border: none;
}

.loader-text {
  color: #5df8d8;
}

.margin-left {
  margin-left: 20px;
}
