.cta-btn-section-left {
  text-align: left;
}
.cta-btn-section-center {
  text-align: center;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section-element-one {
  flex: 1;
}

.h2-align {
   text-align: center;
}
